
h1, h2 {
	clear: both !important;
}

#dw__toc + h1 {
	clear: none !important;
}

.mobber {
	box-sizing: border-box;
	display: inline-block;
	float: right;
	width: 450px;

  border: 1px solid rgba(230, 230, 230, 0.8);
	
	font-family: sans-serif;
	font-size: 10pt;
	line-height: 20px;
}

.mobber .shade {
	background: rgba(230, 230, 230, 0.8);
}

.mobber .row {
	padding-left: 4px;
	width: 446px;
}

.mobber .group {
	display: inline-block;
}

.mobber .label {
	font-weight: bold;
	display: inline;
}

.mobber .value {
	display: inline;
}

.mobber .group .value:after {
	content: ';';
}

.mobber .half {
	width: 219px;
}

.mobber .third {
	width: 140px;
}

.mobber .head {
	color: rgba(230, 230, 230, 0.8);
	background: rgba(25, 25, 25, 0.8);
}

.mobber .head .name {
	display: inline-block;
	font-weight: bold;
}

.mobber .head .level_role {
	display: inline-block;
	text-align: right;
}

.mobber .head .size_origin_type_keywords {
	display: inline-block;
}

.mobber .head .xp {
	display: inline-block;
	text-align: right;
}

.mobber .head .xp:after {
	content: " XP";
}

.mobber .group {
}

